[Desktop Entry]
Version=1.0
Type=Application
Name=Initium Dashboard
Comment=Application Launcher
Exec=/usr/bin/initium
Icon=initium
Categories=Utility;
Terminal=false
